The below codes can be used for importing datasets and initial preprocessing.

In [5]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
#import the dataset and look at sample 7 observations
data= pd.read_csv('Data.csv')
data.head(7)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No

In [29]:
#segregate the dependent and independent variables. Let's say we wish to predict Purchased in our model (Dependent variable)
X=data.iloc[:,:-1].values
Y=data.iloc[:,-1].values
X  # Note that the X.head() won't work here. As this is an array not a dataframe

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [31]:
#Treatments for missing data
from sklearn.preprocessing import Imputer
# here axis=0 implies the mean has to be taken of the column,axis=1 would take the mean of row
imputer_object=Imputer(missing_values='NaN',strategy='mean',axis=0) 
imputer_object=imputer_object.fit(X[:,1:3])
X[:,1:3]=imputer_object.transform(X[:,1:3])
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [35]:
#Treatments for categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_object=LabelEncoder()
X[:,0]=labelencoder_object.fit_transform(X[:,0])
onehotencoder_object=OneHotEncoder(categorical_features=[0])
X=onehotencoder_object.fit_transform(X).toarray()
X[0]

array([  0.00000000e+00,   1.00000000e+00,   0.00000000e+00,
         1.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         4.40000000e+01,   7.20000000e+04])