## For help on function

In [ ]:
# to see description of source
from sklearn.model_selection import train_test_split
train_test_split?

In [1]:
import pandas as pd
file1=pd.read_csv('C:/Users/aditi/OneDrive/Desktop/ALL STUDY/Deep_Learning_A_Z/Volume 1 - Supervised Deep Learning/Part 1 - Artificial Neural Networks (ANN)/Section 4 - Building an ANN/Artificial_Neural_Networks/Churn_Modelling.csv')

In [2]:
file1.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Jupyter Themes

In [ ]:
!pip install jupyterthemes

In [ ]:
# List available themes
!jt -l

In [ ]:
# Apply particular theme
!jt -t chesterish

In [ ]:
# Restore default Jupyter theme
!jt -r

## Keep Jupyter notebook running after closing browser tab

In [ ]:

%%capture output

# Keep Jupyter notebook running after closing browser tab-
# make sure the above capture line is first line in block and there is no comment before
# But remeber you can only do this for one cell

# Time-consuming code here
import time
a = 0
while a < 50:
    a+=1
    print(a)
    time.sleep(1)

In [ ]:

output.show()
# make sure the above output line is first line in block and there is no comment before
#This will show all interim print results as well as the plain or rich output cell.

#Save, close tab, come back later. The output is now stored in the output variable:

## How to pickle or store Jupyter (IPython) notebook session for later

https://stackoverflow.com/questions/34342155/how-to-pickle-or-store-jupyter-ipython-notebook-session-for-later

In [3]:
!pip install dill

Requirement already satisfied: dill in c:\users\aditi\anaconda3\lib\site-packages (0.3.2)

In [4]:
#Save a Notebook session:
import dill
dill.dump_session('notebook_env.db')

In [1]:
# Restore a Notebook session when you log back:
import dill
dill.load_session('notebook_env.db')

In [2]:
file1.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Keyboard Shortcuts

https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/

- You can also use Shift + M to merge multiple cells.
- Ctrl + Shift + - will split the current cell into two from where your cursor is.